.status-filter {
    padding: 20px;
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .filter-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .filter-cards {
    display: flex; 
    gap: 15px; 
    flex-wrap: wrap; 
  }
  
  .filter-card {
    border: 2px solid  #000;;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 15px;
    width: 300px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  .filter-card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .filter-card-content {
    font-size: 0.9rem;
    color: #333;
  }
  
  .filter-card-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
  }
  
  .filter-card-button:hover {
    background-color: #218838; 
    transform: scale(1.05);
  }
  
  .filter-card-button:active {
    transform: scale(0.95); 
  }
  
.annotation-progress {
  margin-top: 10px;
  margin-bottom: 20px;
}


.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  height: 100%;
  background-color: #218838; 
  width: 0; 
  transition: width 0.5s ease; 
}